

.card-spotlight {
  position: relative;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color, rgba(143, 96, 96, 0.25)),
    transparent 80%
  );
  border-radius: 20px;
  transition: transform 0.2s ease, background 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  height: 150px;
}

.card-spotlight:hover {
  transform: scale(1.05);
}

.buttHome {
  background-color: #3a3b3d;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  transition: 0.3s;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
opacity: 0.6;
}
