.card-spotlight {
    position: relative;
    background: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      var(--spotlight-color, rgba(255, 255, 255, 0.25)),
      transparent 80%
    );
    border-radius: 20px;
    transition: transform 0.2s ease, background 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    height: 150px;
  }
  
  .card-spotlight:hover {
    transform: scale(1.05);
  }
  
  .buttHome {
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  
  .buttHome:hover {
    background-color: #0056b3;
  }
  